<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460049408845-4d16dd85vpibjmhhs3mqnuqdn8dm76h1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460049408845-4d16dd85vpibjmhhs3mqnuqdn8dm76h1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>460049408845-g397l3nb6j51hit8au1ppmiu6njo17lk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAQSvcnuX0nuylLm0QpmaJYiHt5m-G2RI</string>
	<key>GCM_SENDER_ID</key>
	<string>460049408845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sheegr</string>
	<key>PROJECT_ID</key>
	<string>sheegr-95764</string>
	<key>STORAGE_BUCKET</key>
	<string>sheegr-95764.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460049408845:ios:8b6730fc87e4597cca8d04</string>
</dict>
</plist>